$primary-color: #FF0049;
$secondary-color: #002B45;
$terciary-color: #FFF1E5;

$white: #FFFFFF;
$black: #000000;

$general-padding: 20px 50px;

*{margin: 0;padding: 0;}
#root{
    width: 800px; 
    margin: 0 auto;
    border: 1px solid #cecece;
}

.general-padding{padding: $general-padding;}

#menu{
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #cdd4da;
    margin: 0;
    padding: 20px 0;
    -webkit-box-shadow: inset 0px -10px 5px 0px rgba(206, 206, 206, 0.61);
    -moz-box-shadow: inset 0px -10px 5px 0px rgba(206, 206, 206, 0.61);
    box-shadow: inset 0px -10px 5px 0px rgba(206, 206, 206, 0.61);
    
    li{
        border-radius: 50%;
        padding: 5px 12px;
        margin: 0 10px;
        background-color: #798e9c;
        color: $white;
    }
    .active{
        background-color: $secondary-color;
    }
    .done{
        background-color: $primary-color;
        padding: 5px 8px;
    }
}

button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

button.siguiente{
    color: $white;
    background-color: $secondary-color;
}
button.atras{
    color: $secondary-color;
    background-color: $white;
}
button.error{
    color: $primary-color;
    
    background-color: $white;
}

#step1, #step2 {

    h1,
    h3 {
        color: $secondary-color;
    }

    h1 {
        padding: 10px 50px;
        margin-top: 10px;
    }

    hr {
        width: 40px;
        height: 5px;
        margin-left: 50px;
        margin-bottom: 20px;
        background: #40c2de;
        border: none;
    }

    .botones {
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #cecece;
    }
}

@media (max-width: 768px) {
    #root{
        width: auto;
    }
}

@media (max-width: 425px) {
    .general-padding {
        padding: 20px;
    }

    #step1,
    #step2 {
        h1 {
            padding: 20px;
        }
        hr {
            margin-left: 20px;
        }
    }
}

@media (max-width: 320px) {
    .general-padding {
        padding: 10px;
    }
}
