@import "../../styles/base";

#step1{
    .images{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        img{
            max-height: 100px;
            display: block;
            margin: 10px auto;
        }
        p{
            text-align: center;
            width: 33ch;
        }
    }

    .info{
        h3 {
            margin: 15px 0;
        }
    }
}