@import "../../styles/base";

#step2 {
    label {
        color: $secondary-color;
        font-weight: bold;
    }
    input {
        height: 30px;
        margin: 5px 0;
        padding: 5px;
        box-sizing: border-box;
    }
    .pass{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        div{
            display: flex;
            flex-direction: column;
            margin-right: 30px;
            position: relative;
            i{
                position: absolute;
                bottom: 13px;
                right: 15px;
            }
        }
    }
    .pista{
        p{
            margin-bottom: 20px;
        }
        input{
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    #step2 {
        .pass {
            flex-direction: column;
        }
    }
}